@import "/edu/wpi/first/shuffleboard/app/dark.css";  /* CSS for the Material Dark theme */

.root {
    -swatch-100: hsb(200, 100%, 99%);
    -swatch-200: hsb(200, 95%, 89%);
    -swatch-300: hsb(200, 90%, 79%);
    -swatch-400: hsb(200, 85%, 69%);
    -swatch-500: hsb(200, 80%, 59%);

    -swatch-dark-gray: rgb(11, 28, 63);
    -swatch-gray: rgb(30, 39, 78);
    -swatch-light-gray: rgb(55, 74, 116);
}
